@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
:root {
  --primary-wordl-color:#07B73B;
  --matrix-green-color:#00FF41;
  --secondary-battl-color:#C70606;
  --secondary-helpr-color:#C7C706;
  --empty-letter-box-color:#787D7A;
}

body {
  background: #1C1919;
  margin: 0;
  font-family: 'Source Code Pro';
}

.navbar {
  -webkit-column-count: 3;
          column-count: 3;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #171111;
  padding: 1em;
}

.navbar .container {
  height: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  margin: 0;
}

.navbar .primary-nav {
  padding: 0.5em;
  -webkit-column-count: 2;
          column-count: 2;
}

.navbar .battlLogo {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-wordl-color);
  font-size: 2em;
}

.navbar .battlLogo span {
  color: var(--secondary-battl-color);
}

.navbar .helprLogo {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-wordl-color);
  font-size: 2em;
}

.navbar .helprLogo span {
  color: var(--secondary-helpr-color);
}

.navbar .battl {
  padding: 1vh;
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-wordl-color);
  font-size: 1.2em;
}

.navbar .battl span {
  color: var(--secondary-battl-color);
}

.navbar .helpr {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-wordl-color);
  font-size: 1.2em;
}

.navbar .helpr span {
  color: var(--secondary-helpr-color);
}

.navbar .home {
  position: absolute;
  right: 5vw;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#battlPage .boards {
  width: 100vw;
  height: 100vh;
}

#battlPage .game .player-board {
  position: absolute;
  top: 10%;
  left: 5%;
}

#battlPage .game .computer-board {
  position: absolute;
  top: 10%;
  right: 5%;
}

#battlPage .game .computer-board button {
  background: white;
}

#battlPage .game #buttons {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
}

#battlPage .game #submit {
  background-color: #C7C706;
}

#battlPage .game #reset {
  background-color: #C70606;
  position: absolute;
  right: 0;
}

#battlPage .game button {
  border-color: black;
  border-width: 0.05em;
  border-radius: 0.5em;
  font-family: 'Source Code Pro';
  font-size: 100%;
  font-weight: bold;
  width: 25%;
  height: 5vh;
  margin: 5%;
  padding: 0.1em;
}

#battlPage .game .chat-box {
  position: absolute;
  top: 15%;
  left: 41%;
  background: #0D0208;
  border-radius: 7vw;
  opacity: 30%;
  height: 70vh;
  width: 20vw;
}

#battlPage .game .chat-box .scroll {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  position: relative;
  text-align: center;
  width: 80%;
  height: 50%;
  left: 10%;
  top: 10%;
  font-weight: bold;
  color: var(--matrix-green-color);
  overflow-y: scroll;
}

#battlPage .game .chat-box .scroll::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

#battlPage .game .chat-box #hard-off {
  background-color: #808080;
  position: relative;
  left: 10%;
  color: black;
  width: 80%;
  margin: 10% 0 3% 0;
  padding: 1%;
}

#battlPage .game .chat-box #hard-on {
  font-size: 100%;
  background-color: red;
  position: relative;
  left: 10%;
  color: black;
  width: 80%;
  margin: 10% 0 3% 0;
  padding: 1%;
}

#battlPage .game .chat-box #start {
  font-size: 100%;
  background-color: lime;
  color: black;
  margin: 0;
  position: relative;
  width: 40%;
  left: 30%;
}

#helprPage .game #buttons {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
}

#helprPage .game #submit {
  background-color: #C7C706;
}

#helprPage .game #reset {
  background-color: #C70606;
  position: absolute;
  right: 0;
}

#helprPage .game button {
  border-color: black;
  border-width: 0.05em;
  border-radius: 0.5em;
  font-family: 'Source Code Pro';
  font-size: 150%;
  font-weight: bold;
  width: 25%;
  height: 5vh;
  margin: 0 5%;
  padding: 1%;
}

#helprPage .game .player-board {
  position: absolute;
  top: 10%;
  left: 15%;
}

#helprPage .game .player-board button {
  background: white;
}

#helprPage .game .chat-box {
  position: absolute;
  top: 20%;
  right: 15%;
  background: #0D0208;
  border-radius: 7vw;
  opacity: 30%;
  height: 60vh;
  width: 25vw;
}

#helprPage .game .chat-box .scroll {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  position: relative;
  text-align: center;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  font-weight: bold;
  color: var(--matrix-green-color);
  overflow-y: scroll;
}

#helprPage .game .chat-box .scroll::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.game .player-board h2, .game .computer-board h2 {
  text-align: center;
  color: white;
}

.game .player-board .game-rows .player-cur-row .row-letter, .game .computer-board .game-rows .player-cur-row .row-letter {
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

.game .player-board .game-rows .row .row-letter, .game .player-board .game-rows .player-cur-row .row-letter, .game .player-board .game-rows .computer-cur-row .row-letter, .game .computer-board .game-rows .row .row-letter, .game .computer-board .game-rows .player-cur-row .row-letter, .game .computer-board .game-rows .computer-cur-row .row-letter {
  color: white;
  text-align: center;
  font-family: 'Courier New';
  font-size: 3vw;
  background: var(--empty-letter-box-color);
  padding: 0.5vw;
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.2em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*# sourceMappingURL=main.css.map */